

body { background: #FEFEFE; margin: 0; min-width: 1010px; 
a { text-decoration: none; color: #010101; cursor: pointer; }
a:visited { color: #010101; }
a:hover { color: #2121BC; }
br { line-height: 100%; }
table, th, td { border: 1px solid black; }
ul { margin: 0 0 0 1em; padding: 0; text-align: justify;}
img {border: none;}
.foot{

	position: fixed;
	left:0;
	bottom:0;
	width:100%;
	text-align: center;
}

.no_link { cursor: default; }
.banner { 
	margin: 0;	
	height: 59px; 
	background: #0be9ed;
	
}

.banner_logo { width: 21%; float: left; display: inline; height: 50px;}
.banner_name { width: 57%; float: left; display: inline; text-align: center; }
.banner_name_company { font-family: Georgia, Serif; color: #010101; font-size: 24px; text-shadow: 1px 1px #707070;}
.banner_name_region { font-family: Georgia, Serif; color: #010101; font-size: 22px;}
.banner_edge { width: 21%; float: right; display: inline; text-align: right;}

.banner_edge_link { font-family: Georgia, Serif; color: #101010; font-size: 14px; }
.banner_edge_mail { font-family: Georgia, Serif; color: #1010E0; font-size: 14px; padding: 4px;
	background: #0be9ed;
	}

.footer {
/*    bottom: 0;*/
/*    position: fixed;*/
	
    
    height: 16px;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Bright", Serif;
	background: #FDFDFD;
    color: #004A80;
}
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}
/* Dropdown Button */
.dropbtn {
  background-color: #0be9ed;
  color: black;
  padding: 5px;
  font-size: 16px;
  width:100px;
  
  cursor: pointer;
   border-radius: 5px;
}

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}
*/
/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  width
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 100px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}





.copyright {
    left: 0;
    width: 99%;
    height: 20px;
    text-align: center;
    font-size: 12px;
    font-family: "Lucida Bright", Serif;
	background: #FDFDFD;
    color: #004A80;
}

.office_address {
    width: 100%;
    height: 18px;
	overflow: hidden;
    text-align: center;
    font-size: 14px;
    font-family: "Lucida Bright", Serif;
	background: #FDFDFD;
    color: #010101;
}







.main_menu_bar { padding: 1px 0px; 
background: #0be9ed; 

background: linear-gradient(rgba(255,255,255,1),rgba(11, 233, 237,1),rgba(255,255,255,1));
}
.main_menu_top { margin: 0px; padding: 0px; display: inline; text-align: center; }
.main_menu_l1 { margin: 0px; padding: 0px; display: inline-block; position: relative; 
/* border: 1px solid blue; */ 
background: #E6F6FF; 
background: rgba(250,250,250,0.4); 
/*background: linear-gradient(rgba(255,255,255,1),rgba(128,204,255,1));*/
}

.main_menu_l1 a { padding: 0px; padding:5px;
	line-height: 20px; font-size: 12px;
    cursor: pointer; font-family: Georgia, Serif; text-decoration: none; display: inline-block;
    color: #010101; border-radius: 2px; font-weight: bold;font-size: 20px;
}

.main_menu_l2 { margin: 0px; padding: 4px; display: none; position: absolute;
    background: #007ACC; width: 210px; z-index: 5; text-align: left;font-size: 18px; 
}

.main_menu_l2 a { margin: 0px; padding: 0px; width: 210px; height: 20px; line-height: 20px; font-size: 12px;
    cursor: pointer; font-family: Georgia, Serif; text-decoration: none; display: inline-block;
    color: #010101; border-radius: 2px; padding-left: 0px; font-size: 18px;
}

.main_menu_l1:hover { background: #007ACC; }
.main_menu_l1:hover a { color: #FCFCFC; } 
.main_menu_l1:hover .main_menu_l2 { display: block; }
.main_menu_l1 a:hover, .main_menu_l2 a:hover  { background: #3F0019; color: #ABFCAB; }
.main_menu_l1 a:active, .main_menu_l2 a:active { background: #3F0019; color: #AAFCFC; }











