/* Design Comments */

.mySlides_L {display: none; height: 211px; width: 100%; text-align:center; }
.mySlides_R {display: none; height: 211px; width: 100%; text-align:center; }
.mySlides_A {display: none}
.mySlides_B {display: none}
.mySlides_C {display: none}

.slideshow_container {position: relative; padding: 0px; margin: 0px; }

.slide_mid_color {
	background: #EEF6FF;
	background: rgba(238,246,255,1);
	background: linear-gradient(to right, rgba(0,82,212,0.5), rgba(0,82,212,0.5));}

.slidepic {vertical-align: middle; padding: 0px; margin: 0px;
			height: 100%; width: 100%; max-height: 100%; max-width: 100%; 
}
@media (min-aspect-ratio: 8/5) {
.slidepic {	vertical-align: middle; padding: 0px; margin: 0px;
			height: auto; width: auto; max-height: 100%; max-width: 100%; 
}
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #CDCDCD;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next { right: 0; border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover { background-color: rgba(0,0,0,0.8); color: #CDCDCD;}

.text {color: #F3F313;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px #010101;
  font-family: Georgia, Serif;
}

.numbertext { color: #F2F2F2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0; display: none; }

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade { from {opacity: .4} to {opacity: 1}}

@keyframes fade { from {opacity: .4} to {opacity: 1}}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {.prev, .next,.text {font-size: 11px} }
